 @import "bootstrap/scss/bootstrap";

 :root{
    --gold: #c9a96e;
    --gold-light: #e8d5a3;
    --gold-dark: #9a7a45;
    --cream: #fdf6ec;
    --dark: #1a1208;
    --text: #3d2c14;
    --blush: #f5e6d8;
    --sage: #8a9e8c;
 }